.env
.env.example
*.log
.cache
.DS_Store
yarn-error.log

.history/
.vscode/
out/
docs/
ignore/
node_modules/
coverage/

dist/
__pycache__/
.pytest_cache/
.mypy_cache/

env/
venv/

*.db
*.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore

data/
examples/
research/
