.env
*.log
.cache
.DS_Store
yarn-error.log

.history/
.vscode/
out/
docs/
ignore/
node_modules/
coverage/

dist/
__pycache__/
.pytest_cache/
.mypy_cache/

env/
venv/

*.db

amplify/
aws-exports.js
.secret-*
**.sample